@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 25px;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

a p:hover {
    font-size: 20px;
}