@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin: 25px;
}

p {
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

a p {
    width: 50%;
    margin: auto;
}
.acontainer {
    margin-right: auto;
    margin-left: auto;
    width: 50%;
}

a p:hover {
    font-size: 20px;
}

.image {
    position: absolute;
    bottom: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
    border-radius: 5px;
}

